.nav {
    display: flex;
    background-color:blueviolet;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    color: #000;
    font-family: 'Castoro Titling', cursive;
    font-family: 'Courier New', Courier, monospace;

}

.nav .social ul li {
    display: inline;
    padding: 20px;
   
}
.nav .social ul li a{
    color: #000;
}
@media (200px <= width <= 529px){
    .nav{}
.nav .social{
    display: none;
}

}